<md-dialog aria-label="{{technique.name}} Video"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{technique.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
        <video>
            <source src="{{technique.videoUrl}}" type="video/mp4">
            Your browser does not support the video tag.
        </video> 
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()" md-autofocus>
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>